.akiyor{
    background-color: blue;
    color:white;
    border-radius: 10px;
    text-align: center;
}

.akmiyor{
    background-color: violet;
    color: white;
    border-radius: 10px;
    text-align: center;
}